
MONGODB_URI=
RESEND_API_KEY=
NEXTAUTH_SECRET=
NEXT_PUBLIC_BASE_URL=

NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_SHIPPING_RATE_ID1=
STRIPE_SHIPPING_RATE_ID2=
STRIPE_PROMOTION_CODE_ID=


GROQ_API_KEY=
TAVILY_API_KEY=